node_modules
**/node_modules
**/.env.local
**/.env.*.local

.git
.gitignore
.gitattributes
.github

.cache/*
tsconfig.tsbuildinfo
.eslintcache

!.yarnrc.yml
!.yarn/plugins
!.yarn/releases

.idea
.vscode
.vs

**/out
**/build