[submodule "cpp/extern/libdatachannel"]
	path = cpp/extern/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel
[submodule "cpp/extern/websocketpp"]
	path = cpp/extern/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "cpp/extern/dawn"]
	path = cpp/extern/dawn
	url = https://dawn.googlesource.com/dawn
[submodule "cpp/extern/depot_tools"]
	path = cpp/extern/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "cpp/extern/entt"]
	path = cpp/extern/entt
	url = https://github.com/skypjack/entt
[submodule "cpp/extern/HTTPRequest"]
	path = cpp/extern/HTTPRequest
	url = https://github.com/elnormous/HTTPRequest
[submodule "cpp/extern/imgui"]
	path = cpp/extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "cpp/extern/nativefiledialog"]
	path = cpp/extern/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog
[submodule "cpp/extern/recastnavigation"]
	path = cpp/extern/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation
[submodule "cpp/extern/ozz-animation"]
	path = cpp/extern/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation
[submodule "cpp/extern/digraph"]
	path = cpp/extern/digraph
	url = https://github.com/grame-cncm/digraph
